<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\TEST\TextData"/>
    <add key="greaterWins" value="1"/>
    <add key="senderEmail" value="email@placeholder.com"/>
    <add key="senderDisplayName" value="namePlaceholder"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="connectionStringPlaceholder" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="127.0.0.1" userName="userPlaceholder" password="passwordPlaceholder" port="25" enableSsl="false" />
      </smtp>
    </mailSettings>
  </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>